/*----------- Estilos para el home ----------------------*/
*{
    text-decoration: none;
    font-family: 'Bebas Neue', sans-serif;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  

  nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-size: 1.5em;
    
  }
  

  .banner {
    background-size: 15%;
    color: #fff;
    text-align: center;
    padding: 100px 0;
  }
  
  
  .features {
    text-align: center;
    padding: 50px 0;
    background-color: white;
  }
  
  .feature {
    display: inline-block;
    width: 30%;
    margin: 0 2%;
    vertical-align: top;
  }
  
  .feature img {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
    
  }
  
  .feature h3 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .feature p {
    font-size: 16px;
  }
  
  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Estilos para el encabezado */
header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

/* Estilos para la barra de navegación */


/* Estilos para el banner principal */
.banner {
  background-color: rgb(172, 167, 167);
}

.banner h1 {
  font-size: 75px;
  margin-bottom: 20px;
  
}

.banner p {
  font-size: 2.4em;
}

.cta-button {
  background-color: #ff9900;
  color: #fff;
  padding: 15px 30px;
  border: none;
  border-radius: 7px;
  font-size: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
  
}

.cta-button:hover {
  background-color: #e68200;
}

/* Estilos para las características */
@keyframes zoomIn {
  from {
      transform: scale(1); /* Tamaño original */
  }
  to {
      transform: scale(1.1); /* Tamaño aumentado */
  }
}
.features {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 80px 50px;
  
}

.feature {
  flex: 1;
  text-align: center;
  padding: 0 20px;
  margin-bottom: 40px;
  background-color: rgba(255, 166, 0, 0.932);
  border-radius: 7px;
}

.feature img {
  width: 80px;
  height: 80px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.feature h3 {
  font-size: 24px;
  margin-bottom: 15px;
}

.feature p {
  font-size: 16px;
}

/* Estilos para el pie de página */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 30px 0;
}

footer p {
  margin: 0;
}